/* Garamond Premiere Pro Subhead */
/* 21px to 30px */

/*Regular*/
	font-family: "garamond-premier-pro-subhead-n4","garamond-premier-pro-subhead",serif;
	font-style: normal;
	font-weight: 400;

/*Italic*/
	font-family: "garamond-premier-pro-subhead-i4","garamond-premier-pro-subhead",serif;
	font-style: italic;
	font-weight: 400;

/*Medium*/
	font-family: "garamond-premier-pro-subhead-n5","garamond-premier-pro-subhead",serif;
	font-style: normal;
	font-weight: 500;

/*Medium Italic*/
	font-family: "garamond-premier-pro-subhead-i5","garamond-premier-pro-subhead",serif;
	font-style: italic;
	font-weight: 500;

/*Semibold*/
	font-family: "garamond-premier-pro-subhead-n6","garamond-premier-pro-subhead",serif;
	font-style: normal;
	font-weight: 600;

/*Semibold Italic*/
	font-family: "garamond-premier-pro-subhead-i6","garamond-premier-pro-subhead",serif;
	font-style: italic;
	font-weight: 600;

/*Bold*/
	font-family: "garamond-premier-pro-subhead-n7","garamond-premier-pro-subhead",serif;
	font-style: normal;
	font-weight: 700;

/*Bold Italic*/
	font-family: "garamond-premier-pro-subhead-i7","garamond-premier-pro-subhead",serif;
	font-style: italic;
	font-weight: 700;