/* Garamond Premiere Pro Caption */
/* Less than 12px */

/*Regular*/
	font-family: "garamond-premier-pro-caption-n4","garamond-premier-pro-caption",serif;
	font-style: normal;
	font-weight: 400;

/*Italic*/
	font-family: "garamond-premier-pro-caption-i4","garamond-premier-pro-caption",serif;
	font-style: italic;
	font-weight: 400;

/*Medium*/
	font-family: "garamond-premier-pro-caption-n5","garamond-premier-pro-caption",serif;
	font-style: normal;
	font-weight: 500;

/*Medium Italic*/
	font-family: "garamond-premier-pro-caption-i5","garamond-premier-pro-caption",serif;
	font-style: italic;
	font-weight: 500;

/*Semibold*/
	font-family: "garamond-premier-pro-caption-n6","garamond-premier-pro-caption",serif;
	font-style: normal;
	font-weight: 600;

/*Semibold Italic*/
	font-family: "garamond-premier-pro-caption-i6","garamond-premier-pro-caption",serif;
	font-style: italic;
	font-weight: 600;

/*Bold*/
	font-family: "garamond-premier-pro-caption-n7","garamond-premier-pro-caption",serif;
	font-style: normal;
	font-weight: 700;

/*Bold Italic*/
	font-family: "garamond-premier-pro-caption-i7","garamond-premier-pro-caption",serif;
	font-style: italic;
	font-weight: 700;