---
layout: default
lang: en
title: HOME Psychological Services
---

{% include header.en.html %}

<!-- BODY -->
<section class="hero">
    <div class="flexslider">
        <ul class="slides">
            <li id="slide-1" class="slide-panel">
                <div class="wrapper">
                    <h1 class="lede">Clinical psychology services for children, adolescents, and families. We help manage emotions, gain self-understanding, and find fulfillment in life through positive psychology.</h1>
                    <p class="lede-quote">“The positive thinker sees the invisible, feels the intangible, and achieves the impossible.”</p>
                </div>
            </li>
            <li id="slide-2" class="slide-panel">
                <div class="wrapper">
                    <p class="quote">Happiness is when what you think, what you say, and what you do are in harmony.</p>
                    <p class="quote-credit">Mahatma Gandhi&nbsp;</p>
                </div>
            </li>
            <li id="slide-3" class="slide-panel">
                <div class="wrapper">
                    <p class="quote">Optimism is the faith that leads to achievement. Nothing can be done without hope and confidence.</p>
                    <p class="quote-credit">Helen Keller&nbsp;</p>
                </div>
            </li>
            <li id="slide-4" class="slide-panel">
                <div class="wrapper">
                    <p class="quote">Maturity is, among other things, the unclouded happiness of a child at play, who takes it for granted that he is at one with his playmates.</p>
                    <p class="quote-credit">Dag Hammarskjold&nbsp;</p>
                </div>
            </li>
            <li id="slide-5" class="slide-panel">
                <div class="wrapper">
                    <p class="quote">Enthusiasm is the mother of effort, and without it nothing great was ever achieved.</p>
                    <p class="quote-credit">Ralph Waldo Emerson&nbsp;</p>
                </div>
            </li>
          </ul>
    </div>
</section>

<section class="about-us">
    <div class="sidekick">
        <h1 class="sidekick-title">We’re a Partnership of Clinical Psychologists</h1>
        <p class="sidekick-descr">We have over 10 years of experience practicing in the United States, and in Hong Kong. Services are offered in individual as well as group settings. Sessions can be held in either English, Cantonese, or Mandarin.</p>
    </div>
    <div class="sidekick">
        <h1 class="sidekick-title">Positive Psychology&nbsp;</br>Guides Our Practice</h1>
        <p class="sidekick-descr">Positive psychology is a burgeoning movement that emphasizes positive human qualities, diverting mainstream psychology’s preoccupation with human weaknesses. It’s our core belief and guides the way we help our clients.</p>
    </div>
    <div class="sidekick">
        <h1 class="sidekick-title">We Help You Take Better Care of Children</h1>
        <p class="sidekick-descr">Our expertise is especially helpful for caretakers, child-care workers, and teachers as well as parents. We’re also trained and experienced in working with adults, treating issues pertaining to women, and the elderly.</p>
    </div>
</section>

<section class="book-promo">
    <h1 class="bubble-heading promo-heading">New Book Published !<div class="bubble-arrow"></div></h1>

    <div class="book-promo-panel">
        <p class="promo-descr">Dr. Winnie Keung published her first book earlier this year! Titled<span class="zh">&#12304;孩子扭計點算好&#12305;</span> – it’s a short read about common behavioural situations faced by parents and care-givers of children aged 4 to 13.</p>
        <p class="promo-descr">Written in a simple case-study format, Winnie provides a balanced perspective of child-developmental psychology, offering techniques and advice for effective parenting, preventing emotional distresses, and promoting a harmonious domestic environment for mental growth and development.</p>
        <p class="promo-descr">Pick up a copy at your <a href="http://www.eslitecorp.com/TW/OperationContexts/Store.aspx?no=SK">local</a> <a href="http://www.cp1897.com.hk/storeBusiness.php?storeBusiness=storeInfo_main">bookstore</a>, or read some more of our writing <a href="/writing">here</a>!</p>
    </div>

    <div class="book-cover">
        <img src="/assets/book.jpg">
    </div>

</section>

<section class="cogmed-promo">
    <h1 class="bubble-heading promo-heading">New Service !<div class="bubble-arrow"></div></h1>

    <div class="cogmed-promo-panel">
        <p class="promo-descr">We are now certified <a href="http://www.cogmed.com/">Cogmed</a> coaches!</p>
        <p class="promo-descr"><a href="http://www.cogmed.com/how-it-works">Cogmed Working Memory Training</a> is a computer-based solution for attention problems caused by poor working memory, combining cognitive neuroscience with games to challenge and improve your working memory capacity.</p>
        <p class="promo-descr">We help you train a tightly defined cognitive function to create a cascade of improvements that generalizes to behaviour, improving your ability to pay attention, resist distractions, self-manage, and learn.</p>
    </div>

    <div class="cogmed-logo">
        <img src="/assets/cogmed-logo.png">
    </div>

</section>

{% include footer.en.html %}