//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Utility                                    */
//*    TITLE: Colors config                              */
//*------------------------------------------------------*/

// NAVY

$xLightBlue      : #e9f7ff; // +22 (expertise highlight item text shadow color)
$lightBlue       : #037fc3; // +5  (upper navigation link text hover)
$blue            : #0375b3; // +4  (upper navigation link text, a:hover)
$darkBlue        : #036aa2; // +3  (lower navigation link text)
$xLightNavy      : #035f91; // +2  (a color)
$lightNavy       : #025481; // +1
$navy            : #024970; // 0
$darkNavy        : #023e5f; // -1
$xDarkNavy       : #01334f; // -2
$xxDarkNavy      : #01283e; // -3  (slider lede text color)

// TEAL

//$              : #feffff; // +9
$white           : #f2faf8; // +8
//$xLightMint    : #e5f6f1; // +7   (active nav background color)
//$lightMint     : #d8f1eb; // +6
$mint            : #ccede4; // +5
$darkMint        : #bfe9dd; // +4
$xDarkMint       : #a6e0d0; // +2
//$              : #9adbca; // +1   (multicolumn p divider color)
$teal            : #8dd7c3; // 0
$darkTeal        : #74ceb6; // -2
$xLightGreen     : #4ec1a2; // -5
$lightGreen      : #308a72; // -10  (footer text color)
$green           : #236453; // -13  (slider lede underline/lede quote border top)
$darkGreen       : #1a4b3e; // -15  (p color)
$xDarkGreen      : #163e33; // -16  (slider lede quote color)

// GRAYSCALE

$brightWhite     : #ffffff;


// MESS
//$              : #4db4ae; //      (logo tag color)
//$              : #bac9c9;
//$              : #c2cac8; //      (outgoing gmap link color)
$red             : #cc0000; //      (wip link color)
//$              : #d0eee6; //      (footer body background color)
//$              : #dcdcdc;
//$              : #eaeded; //      (book cover img border)
//$              : #ececec;
//$              : #ecfcfc;
//$              : #eeeeee;
//$              : #effcfc; //      (bubble heading text color)
//$              : #f3f6f6; //      (footer addendum bar top border color)
//$              : #f5f5f5;
//$              : #f6ffff;
//$              : #f8fafa;
//$              : #fafdfd;
//$              : #fafefe; //      (expertise item text color)
//$              : #fcfefe; //      (templated content listing unit background color)
//$              : #fdfdfd;