//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Utility                                    */
//*    TITLE: Colors config                              */
//*------------------------------------------------------*/

// BLUE

$lightNavy: #0a3864; // title block background blue
$navy: #093054; // heading color
$darkNavy: #072745; // body text color

$smokeBlue: #517591;

// YELLOW

$gold: #fecb00;

// GRAYSCALES

$black: #000000;
$darkGrey: #202020;
$lightGrey: #fafafa;
$white: #fcfcfc;

// PRODUCT SLIDER COLORS
// $: #004088;
// $: #f1f1f1;
// $: #f2f2f6;
// $: #f5f5f5;
// $: #f7fafe;
// $: #fefefe;



