//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Utility                                    */
//*    TITLE: Typography config                          */
//*------------------------------------------------------*/

// League Gothic

@font-face {
    font-family: 'League Gothic';
    src: url('../type/leaguegothic-regular-webfont.eot');
    src: url('../type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/leaguegothic-regular-webfont.woff') format('woff'),
         url('../type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

%leagueGothic {
	font-family: 'League Gothic',STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
	font-style: normal;
	font-weight: 400;
}

// Garamond Premiere Pro

%gpp {
    font-family: "garamond-premier-pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 400;
}

%gppItalic {
    font-family: "garamond-premier-pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: italic;
    font-weight: 400;
}

%gppSemibold {
    font-family: "garamond-premier-pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 600;
}

// Garamond Premiere Pro Subhead

%gppSubhead {
    font-family: "garamond-premier-pro-subhead",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 400;
}

%gppSubheadItalic {
    font-family: "garamond-premier-pro-subhead",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: italic;
    font-weight: 400;
}

%gppSubheadMedium {
    font-family: "garamond-premier-pro-subhead",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 500;
}

%gppSubheadSemibold {
    font-family: "garamond-premier-pro-subhead",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 600;
}

// Garamond Premiere Pro Caption

%gppCaption {
    font-family: "garamond-premier-pro-caption",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 400;
}

%gppCaptionItalic {
    font-family: "garamond-premier-pro-caption",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: italic;
    font-weight: 400;
}

%gppCaptionMedium {
    font-family: "garamond-premier-pro-caption",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 500;
}

%gppCaptionMediumItalic {
    font-family: "garamond-premier-pro-caption",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: italic;
    font-weight: 500;
}

// Chinese

%zhLight {
    font-family: STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 300;
}

%zhBook {
    font-family: STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 400;
}

%zhMedium {
    font-family: STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 500;
}

%zhSemibold {
    font-family: STHeiti,STXihei,"华文细黑","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,serif;
    font-style: normal;
    font-weight: 600;
}