//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Utility                                    */
//*    TITLE: Grid by Susy                               */
//*------------------------------------------------------*/

// Font Sizes ------------------------------------------------------------------

$rhythm-unit           : rem;
$base-font-size        : 1.25rem;
$base-line-height      : 1.625;
$relative-font-sizing  : true;

// Grid ------------------------------------------------------------------------

$total-columns         : 12;
$column-width          : 60px;
$gutter-width          : 20px;
$grid-padding          : 10px;

// Grid Overlay ----------------------------------------------------------------
// Add this include before any "@include container":
// @include susy-grid-background;

// Breakpoints -----------------------------------------------------------------

$breakpoint-lrgScreen: 1280px;
$breakpoint-medScreen: 801px;
$breakpoint-smScreen: 0 800px;
$breakpoint-tablet: 0 768px;
$breakpoint-nav: 0 720px;
$breakpoint-phone: 0 400px;
$breakpoint-iphone: 0 320px;

// This import must go last ----------------------------------------------------

@import "susy";