//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Utility                                    */
//*    TITLE: CSS Reset                                  */
//*------------------------------------------------------*/

a {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

p:empty {
  display: none;
}