---
layout: default
lang: en
title: Profile | HOME Psychological Services
---

{% include header.html %}

<!-- Eliza Profile v2-->
<section class="partner">
    <h1 class="bubble-heading">Ms. Eliza Lau<div class="bubble-arrow"></div></h1>
    <div id="profile-eliza" class="profile-panel">
        <div class="cv-overlay">
            <h2 class="cv-title">Clinical Psychologist</h2>
            <ul class="cv-items">
                <li><em>Master of Science (Clinical Gerontology)</em>, CUHK</li>
                <li><em>Master of Philosophy (Clinical Psychology)</em>, CUHK</li>
                <li><em>Bachelor of Arts (Psychology)</em>, UCSC, USA</li>
                <li><em>Associate Member</em>, American Psychological Association</li>
                <li><em>Member</em>, Hong Kong Psychological Society</li>
                <li><em>Member</em>, Division of Clinical Psychology, HKPS</li>
            </ul>
        </div>
    </div>

    <p class="profile-lede">Eliza has 10 years experience working with special-needs children – treating issues such as attention problems, hyperactivity, impulsive problems, social-skills deficit, as well as conditions resulting from brain injuries like epilepsies, brain trauma, and brain tumors.</p>
    <p class="profile-body">Her specialty is in the assessment and intervention of psychological issues in children and adolescents. She tailors support programs for parents and children based on their needs, to help maximize their growth potential and excel in Hong Kong’s demanding learning environment. Prior to private practice, Eliza practiced in the Child Assessment Service at the Department of Health from 1999 to 2007. She served as clinical supervisor for Clinical Psychology trainees for 5 years. She has also served in an attachment service at the Royal Children's Hospital in Melbourne, Australia.</p>
</section>

<!-- Winnie Profile v2-->
<section class="partner">
    <h1 class="column bubble-heading">Dr. Winnie Keung<div class="bubble-arrow"></div></h1>
    <div id="profile-winnie" class="profile-panel">
        <div class="cv-overlay">
            <h2 class="cv-title">Clinical Psychologist</h2>
            <ul class="cv-items">
                <li><em>Doctor of Psychology</em>, Widener University, USA</li>
                <li><em>Master of Arts (Clinical Psychology)</em>, Widener University, USA</li>
                <li><em>Bachelor of Social Science (Journalism &amp; Communication)</em>, CUHK</li>
                <li><em>Member</em>, American Psychological Association</li>
                <li><em>Member</em>, Hong Kong Psychological Society</li>
                <li><em>Member</em>, Division of Clinical Psychology, HKPS</li>
            </ul>
        </div>
    </div>

    <p class="profile-lede">Winnie is experienced in conducting psycho-educational assessments and providing psychological treatments for learning, emotional, and behavioral problems.</p>
    <p class="profile-body">After her graduate studies in the U.S., Winnie has practiced in numerous community mental health centers in the State of Pennsylvania where she treated children, adolescents, and adults suffering from conditions like depression, anxiety, post-traumatic stress disorder, psychosis, and substance abuse. Winnie also has over 7 years experience practicing locally in Hong Kong – in roles in the Child Assessment Service, Hong Kong Department of Health; as well as the Student Counselling and Development Service, and Student Health Service at the Chinese University of Hong Kong. In her doctorate studies, Winnie specialized in the research of expressive styles of anger, and anger management, as well as the relation between individualism, collectivism, and cultural differences in emotion and display rules.</p>
</section>

{% include footer.html %}