---
layout: default
lang: zh
title: 寫作 | 如家心理服務
---
{% assign bilingual = true %}
{% include header.html %}

<!-- ARTICLES -->
<section class="articles archive-list">
    <div class="bubble-wrap"><h1 class="bubble-heading">文章<div class="bubble-arrow"></div></h1></div>
    {% for post in site.categories.articles %}
        {% if post.lang == page.lang %}
            <div class="archive-list-unit article-unit">
                <h2 class="sku-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p class="sku-descr">{{ post.excerpt }}</p>
                <a class="sku-follow" href="{{ post.url }}">詳細閱讀&nbsp;&raquo;</a>
            </div>
        {% endif %}
    {% endfor %}
    <a class="bubble-link" href="articles">更多文章&nbsp;&raquo;<div class="bubble-link-arrow"></div></a>
</section>


<!-- ADVICE -->
<section class="advice archive-list">
    <div class="bubble-wrap"><h1 class="bubble-heading">小提議<div class="bubble-arrow"></div></h1></div>
    {% for post in site.categories.advice %}
        {% if post.lang == page.lang %}
            <div class="archive-list-unit advice-unit two-up">
                <h2 class="sku-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <a class="sku-follow" href="{{ post.url }}">閱讀&nbsp;&raquo;</a>
            </div>
        {% endif %}
    {% endfor %}
    <a class="bubble-link" href="advice">更多小提議&nbsp;&raquo;<div class="bubble-link-arrow"></div></a>
</section>

{% include footer.html %}