---
layout: default
lang: zh
title: 寫作 | 如家心理服務
---

{% include header.html %}

<!-- ARTICLES -->
<section class="articles archive-list">
    <!-- <div class="wrapper"> -->
        <h1 class="column bubble-heading">文章<div class="bubble-arrow"></div></h1>

        {% for post in site.posts %}
            {% if post.categories contains 'articles' limit: 3 %}

                <div class="archive-list-unit">
                    <h2 class="sku-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p class="sku-descr">{{ post.excerpt }}</p>
                    <a class="sku-follow" href="{{ post.url }}">Read More&nbsp;&raquo;</a>
                </div>

            {% endif %}
        {% endfor %}

        <a class="column clear bubble-link" href="/writing/articles">More Articles&nbsp;&raquo;<div class="bubble-link-arrow"></div></a>

    <!-- </div> -->
</section>


<!-- ADVICE -->
<section class="advice archive-list">
    <h1 class="column bubble-heading">提議<div class="bubble-arrow"></div></h1>

    {% for post in site.posts %}
        {% if post.categories contains 'advice' limit: 9 %}

            <div class="archive-list-unit advice-unit two-up">
                <h2 class="sku-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <a class="sku-follow" href="{{ post.url }}">Read&nbsp;&raquo;</a>
            </div>

        {% endif %}
    {% endfor %}

    <a class="column clear bubble-link" href="/writing/advice">More Advice&nbsp;&raquo;<div class="bubble-link-arrow"></div></a>

</section>

{% include footer.html %}