---
layout: default
lang: zh
title: 課程 | 如家心理服務
---

{% assign bilingual = true %}
{% include header.html %}

<!-- COMPLETE LIST OF WORKSHOPS -->
<section class="archive-list archive-workshops">
    <div class="bubble-wrap"><h1 class="column bubble-heading">課程<div class="bubble-arrow"></div></h1></div>
    {% for post in site.categories.workshops %}
        {% if post.lang == page.lang %}
            <div class="archive-list-unit">
                <a href="{{ post.url }}"><h2 class="sku-title">{{ post.title }}</h2></a>
                <p class="sku-descr">{{ post.excerpt }}</p>
                <a class="sku-follow" href="{{ post.url }}">詳細了解&nbsp;&raquo;</a>
            </div>
        {% endif %}
    {% endfor %}
</section>

{% include footer.html %}