---
layout: default
lang: en
title: Contact | HOME Psychological Services
---
{% assign bilingual = true %}
{% include header.html %}

<!-- Business Info -->
<section class="business-info">
    <div class="bubble-wrap"><h1 class="bubble-heading">Find Us<div class="bubble-arrow"></div></h1></div>
    <div class="map-wrapper">
        <div id="map-canvas"><script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script></div>

        <div class="contact-overlay vcard">
            <h2 class="contact-item">Office Address</h2>
            <div class="adr">
                <p class="fn n org contact-info">HOME Psychological Services Limited</p>
                <p class="street-address contact-info">602, Level 6</p>
                <p class="street-address contact-info">Everglory Centre</p>
                <p class="street-address contact-info">1B Kimberley Street</p>
                <p class="country-name contact-info">Tsim Sha Tsui, Kowloon</p>
            </div>

            <span class="digits">
                <h2 class="contact-item">Tel:</h2><p class="contact-info">&nbsp;(852)&nbsp;2875-8233</br></p>
                <h2 class="contact-item"></h2><p class="contact-info">&nbsp;&nbsp;</br></p>
                <h2 class="contact-item">Email:</h2><p class="contact-info email">&nbsp;<!--ROT13 Begin--><span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:vadhvel@unezbalubzr.pbz.ux\" >vadhvel@unezbalubzr.pbz.ux</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">kh.moc.emohynomrah@yriuqni</span></noscript></span><!--ROT13 End--></p>
            </span>
        </div>

        <div class="evanesco"><a class="google-map" href="https://www.google.com.hk/maps/place/Everglory+Centre,+1B+Kimberley+St,+Tsim+Sha+Tsui/@22.3006336,114.1732602,17z/data=!3m1!4b1!4m5!3m4!1s0x340400eeec462cfd:0x45f2a8ab76590b2!8m2!3d22.3006287!4d114.1754489" target="_blank">Google Maps&nbsp;&raquo;</a></div>
    </div>
</section>

<!-- Email Form -->
<section class="enquiries">
    <div class="bubble-wrap"><h1 class="bubble-heading">Email Us<div class="bubble-arrow"></div></h1></div>

    <form class="contact-form" data-validate="parsley">
        <div class="form-contact">
            <label class="contact-label">Tell us your name:</label>
            <input class="contact-input user-input-type" name="name" type="text" data-required="true" data-error-message="Please tell us your name.">

            <label class="contact-label">What’s your email?</label>
            <input class="contact-input user-input-type" name="email" type="email" data-required="true" data-trigger="change" data-type="email" data-error-message="Please tell us your email address.">

            <label class="contact-label">And your contact number?</label>
            <input class="contact-input user-input-type" name="tel" type="text" placeholder="">

            <label class="contact-label litmus">Address?</label>
            <input class="contact-input user-input-type litmus" name="address" type="text" placeholder="">
        </div>

        <div class="form-message">
            <label class="contact-label">How Can We Help?</label>
            <textarea class="message-input user-input-type" name="message" data-required="true" data-minlength="6"  data-error-message="Please tell us a little bit more!" type="text"></textarea>
        </div>

        <input id="" class="submit-button" name="submit" type="submit" value="Send">

    </form>

</section>

{% include footer.html %}
