---
layout: default
lang: en
title: Contact | HOME Psychological Services
---

{% include header.html %}

<!-- Business Info -->
<section class="business-info">
    <h1 class="bubble-heading">Find Us<div class="bubble-arrow"></div></h1>

    <div class="map-wrapper">
        <div id="map-canvas"><script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script></div>

        <div class="contact-overlay vcard">
            <h2 class="contact-item">Office Address</h2>
            <div class="adr">
                <p class="fn n org contact-info">HOME Psychological Services</p>
                <p class="street-address contact-info">Room 702, 7/F</p>
                <p class="street-address contact-info">Hong Kong House</p>
                <p class="street-address contact-info">17-19 Wellington St</p>
                <p class="country-name contact-info">Hong Kong</p>
            </div>

            <span class="digits">
                <h2 class="contact-item">Tel:</h2><p class="contact-info">&nbsp;&nbsp;(852)&nbsp;2875-8233</br></p>
                <h2 class="contact-item">Fax:</h2><p class="contact-info">&nbsp;&nbsp;(852)&nbsp;2530-9438</br></p>
                <h2 class="contact-item">Email:</h2><p class="contact-info email">&nbsp;&nbsp;<!--ROT13 Begin--><span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:vadhvel@unezbalubzr.pbz.ux\" >vadhvel@unezbalubzr.pbz.ux</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">kh.moc.emohynomrah@yriuqni</span></noscript></span><!--ROT13 End--></p>
            </span>
        </div>

        <div class="evanesco"><a class="google-map" href="https://maps.google.com/maps?q=Hong+Kong+House,+Wellington+Street,+Central,+Hong+Kong&hl=en&ll=22.28177,114.156387&spn=0.001474,0.002312&sll=43.89525,-78.862436&sspn=0.073478,0.147972&oq=hong+kong+house+wellington&hnear=Hong+Kong+House,+17-19+Wellington+St,+Hong+Kong&t=m&z=19&iwloc=A" target="_blank">Google Maps&nbsp;&raquo;</a></div>
    </div>
</section>


<!-- Email Form -->
<section class="enquiries">
    <h2 class="bubble-heading">Email Us<div class="bubble-arrow"></div></h2>

    <form class="" data-validate="parsley">
        <div class="form-contact">
            <label class="contact-label">Tell us your name:</label>
            <input class="contact-input user-input-type" name="name" type="text" data-required="true" data-error-message="Please tell us your name.">

            <label class="contact-label">What’s your email?</label>
            <input class="contact-input user-input-type" name="email" type="email" data-required="true" data-trigger="change" data-type="email" data-error-message="Please tell us your email address.">

            <label class="contact-label">And your contact number?</label>
            <input class="contact-input user-input-type" name="tel" type="text" placeholder="">

            <label class="contact-label litmus">Address?</label>
            <input class="contact-input user-input-type litmus" name="address" type="text" placeholder="">
        </div>

        <div class="form-message">
            <label class="contact-label">How Can We Help?</label>
            <textarea class="message-input user-input-type" name="message" data-required="true" data-minlength="6"  data-error-message="Please tell us a little bit more!" type="text"></textarea>
        </div>

        <input id="" class="submit-button" name="submit" type="submit" value="Send">

    </form>

</section>

{% include footer.html %}