---
layout: default
lang: zh
title: 小提議 | 如家心理服務
---

{% assign bilingual = true %}
{% include header.html %}

<!-- ADVICE -->
<section class="archive-list-alt archive-advice">
    <div class="bubble-wrap"><h1 class="bubble-heading">小提議<div class="bubble-arrow"></div></h1></div>
    {% for post in site.categories.advice %}
        {% if post.lang == page.lang %}
        <div class="archive-list-unit-alt">
            <h2 class="sku-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p class="sku-descr">{{ post.excerpt }}</p>
        </div>
        {% endif %}
    {% endfor %}
</section>

{% include footer.html %}