//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Headings                                   */
//*------------------------------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@extend %leagueGothic;
    font-style: normal;
    line-height: 1;
    color: $navy;
}

h1 {
	@include rem('font-size', 32px)
}