//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Links                                      */
//*------------------------------------------------------*/

a {
	font-family: "garamond-premier-pro-n4","garamond-premier-pro",serif;
	font-style: normal;
	font-weight: 400;
    @include rem('font-size', 20px);
	line-height: 1.625;

	&,
	&:link,
	&:visited,
	&:focus,
	&:active {
		color: #035f91;
	}

	&:hover {
		color: #0375b3;
	}
}

// TEMPLATED CONTENT SKU TITLE LINK

.sku-title {
	@include rem('padding-left', 16px);
	@include rem('font-size', 24px);
	line-height: 1.125;
}

// TEMPLATED CONTENT SKU FOLLOW LINK

.sku-follow {
	float: right;
	@include rem('margin', 4px 0 8px);
	@include rem('padding-right', 20px);
	font-family: "garamond-premier-pro-i4","garamond-premier-pro",serif;
	font-style: italic;
	font-weight: 400;
}