//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Links                                      */
//*------------------------------------------------------*/

a {
	@extend %gpp;
    // @include rem('font-size', 20px);
	// line-height: 1.625;

	&,
	&:link,
	&:visited,
	&:active {
		color: $xLightNavy;
	}

	&:focus,
	&:hover {
		color: $blue;
	}
}

// TEMPLATED CONTENT SKU TITLE LINK

.sku-title {
	@extend %zhBook;
	@include rem('font-size', 24px);
	line-height: 1.125;
}

// TEMPLATED CONTENT SKU FOLLOW LINK

.sku-follow {
	float: right;
	@extend %gppItalic;
	@include rem('font-size', 20px);
}