//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Links                                      */
//*------------------------------------------------------*/

a {
	font-family: "garamond-premier-pro-n4","garamond-premier-pro","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,STXihei,"华文细黑",serif;
	font-style: normal;
	font-weight: 400;
    // @include rem('font-size', 20px);
	// line-height: 1.625;

	&,
	&:link,
	&:visited,
	&:focus,
	&:active {
		color: $xLightNavy;
	}

	&:hover {
		color: $blue;
	}
}

// TEMPLATED CONTENT SKU TITLE LINK

.sku-title {
	@include rem('font-size', 24px);
	line-height: 1.125;

	> a {
		&,
		&:link,
		&:visited,
		&:focus,
		&:active,
		&:hover {
			font-family: "garamond-premier-pro-subhead-n4","garamond-premier-pro-subhead","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,STXihei,"华文细黑",serif;
			font-style: normal;
			font-weight: 400;
		}
	}
}

// TEMPLATED CONTENT SKU FOLLOW LINK

.sku-follow {
	float: right;
	font-family: "garamond-premier-pro-i4","garamond-premier-pro","Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,STXihei,"华文细黑",serif;
	font-style: italic;
	font-weight: 400;
	@include rem('font-size', 20px);
}