//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Junk Drawer                                */
//*------------------------------------------------------*/

/* UNDER CONSTRUCTION NAVLINKS */

.wip {
    color: #cc0000 !important;
}

.wip:hover {
    background-color: transparent !important;
    border: none !important;
}

// TWEAK FOR CHINESE TYPE

.zh {
    font-size: 94%;
}