//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Scaffolding                                */
//*------------------------------------------------------*/

html, body {
    background-color: $white;
    overflow-x: hidden;

    // @include at-breakpoint($breakpoint-lrgScreen) {
    // 	font-size: 110%;
    // }

    @include at-breakpoint($breakpoint-phone) {
    	// width: 100%;
    	// margin: 0;
    	// padding: 0;
    	// font-size: 95%;
    }
}

%clear {
	clear: both;
}