//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Atom                                       */
//*    TITLE: Text                                       */
//*------------------------------------------------------*/

// BASE TEXT STYLE

p {
    @extend %gpp;
    @include rem('font-size', 20px);
    line-height: 1.625;
    color: $darkGreen;
    text-rendering: optimizeLegibility;
}

// LEDE COPY

%type-lede-copy {
	@include rem('font-size', 24px);

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('padding', 0 20px);
    }

    @include at-breakpoint($breakpoint-phone) {
        @include rem('padding', 0 10px);
        @include rem('font-size', 20px);
    }
}

// BODY COPY

%type-body-copy {
	@include rem('font-size', 18px);
}

%type-two-column {
	@include column-count(2);
	@include column-gap(32px);
	@include column-gap(2rem);
	@include column-rule(1px solid #9adbca);

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('padding', 0 20px);
    }

    @include at-breakpoint($nav) {
        @include column-count(1);
        @include rem('font-size', 20px);
    }

    @include at-breakpoint($phone) {
        @include rem('padding', 0 10px);
    }
}

.sku-descr {
    @extend %type-body-copy;
}

// SLIDER STYLES

// TAIL COPY

small {
    &,
    > a,
    > a:link,
    > a:visited,
    > a:active {
        @extend %gppCaption;
        @include rem('font-size', 14px);
        color: #bac9c9;

        @include at-breakpoint($breakpoint-smScreen) {
            @include rem('font-size', 12px);
        }
    }

    > a:hover,
    > a:focus {
        color: #036aa2;
    }
}

%type-footer-base {
    @extend %gppCaption;
    @include rem('font-size', 16px);
    line-height: 1.375;
    color: $lightGreen;
}
