---
layout: default
lang: en
title: Workshops | HOME Psychological Services
---

{% assign bilingual = true %}
{% include header.html %}

<!-- COMPLETE LIST OF WORKSHOPS -->
<section class="archive-list archive-workshops">
    <div class="bubble-wrap"><h1 class="bubble-heading">Workshops<div class="bubble-arrow"></div></h1></div>
    {% for post in site.categories.workshops %}
        {% if post.lang == page.lang %}
            <div class="archive-list-unit">
                <a href="{{ site.baseurl }}{{ post.url }}"><h2 class="sku-title">{{ post.title }}</h2></a>
                <p class="sku-descr">{{ post.excerpt }}</p>
                <a class="sku-follow" href="{{ site.baseurl }}{{ post.url }}">Learn More&nbsp;&raquo;</a>
            </div>
        {% endif %}
    {% endfor %}
</section>

{% include footer.html %}