//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Template                                   */
//*    TITLE: Single Article                             */
//*------------------------------------------------------*/

// TYPOGRAPHY

// STRUCTURE

.single-article {
	@include container;
	@include rem('margin-bottom', 56px);
}

.template {

	> h3 {
		@include span-columns($total-columns);
		@include rem('margin', 20px 0 10px);
		@extend %gppSemibold;
		@include rem('font-size', 20px);
		text-transform: uppercase;
		font-variant: small-caps;
		color: $darkNavy;
	}

	> h4 {
		@include span-columns($total-columns);
		@include rem('margin-left', 16px);
		@include rem('margin-bottom', 8px);
		@extend %gppCaptionMedium;
		@include rem('font-size', 20px);
	}

	> p {
		@include span-columns(11,12);
		@include push(0.5);
		// @include omega;
		@include rem('margin-bottom', 20px);
		// @include rem('font-size', 22px);
	}

	> ul {
		> li {
			@include rem('margin-left', 16px);
		}
	}
}