//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Template                                   */
//*    TITLE: Single Article                             */
//*------------------------------------------------------*/

.article-heading,
.workshop-heading {
	display: inline-block;
	@include rem('margin-left', -4px);
	@include rem('margin-bottom', 16px);
	@include rem('padding-bottom', 10px);
	@extend %zhSemibold;
	@include rem('font-size', 56px);
	border-bottom: 2px solid $darkMint;
}

.byline {
	float: right;
	@extend %gppSubheadItalic;
	@include rem('font-size', 24px);
}

article {
	@include container;
	width: columns(6,12);
	margin: 48px auto 56px;

	@include at-breakpoint($tablet) {
		width: columns(10,12);
	}

	@include at-breakpoint($phone) {
		width: 85%;
	}
}

.article-body {

	clear: both;
	@include rem('padding-top', 24px);

	> h2 {
		display: inline-block;
		@include rem('margin', 28px auto 12px -2px);
		@include rem('padding-bottom', 2px);

		@extend %zhSemibold;
		@include rem('font-size', 30px);
	}

	> h3 {
		@include rem('margin', 26px 0 10px);

		@extend %zhSemibold;
		@include rem('font-size', 21px);
	}

	> p {
		@include rem('margin-right', 18px);
		@include rem('margin-bottom', 20px);
		@include rem('margin-left', 18px);
		line-height: 1.4;
	}

	li {
		@include rem('margin-bottom', 10px);
	}

}
