//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Organism                                   */
//*    TITLE: Site Header                                */
//*------------------------------------------------------*/

.mobile {
	display: none;
	visibility: hidden;
}

.site-header {
    background-color: #feffff;
    border-top: 10px solid $navy;
    border-bottom: 4px solid #a6e0d0;
	@include rem('padding-bottom', 6px);
    @include rem('margin-bottom', 32px);

    > .wrapper {
    	position: relative;
    }

    @include at-breakpoint(0 810px) {
		@include rem('padding-bottom', 24px);
	}

    @include at-breakpoint($nav) {
    	@include rem('padding-bottom', 4px);
    }

}

.logo-nav {
	display: inline-block;
	@include rem('margin', 28px auto 0);

	> a {
		position: relative;
		display: block;
		z-index: 999;
	}

	@include at-breakpoint($breakpoint-tablet) {
		@include rem('margin-left', 6px);
	}
}

.logo-tag {
	display: none;
	visibility: hidden;
	@include rem('margin-top', 14px);
	@extend %gppItalic;
	@include rem('font-size', 18px);
	color: #4db4ae;

	@include at-breakpoint(810px) {
		display: block;
		visibility: visible;
	}
}

.logo-img {
	@include rem('width', 100px);
}

.nav-top {
	position: absolute;
	// @include rem('top', 10px);
	top: 0;
	right: 0;
	// float: right;
	margin: 0;
	@include rem('padding', 71px 8px 4px 0px);
}

// ul#nav
.menu-top {
	line-height: 1;

	> li {
		display: inline-block;
		position: relative;
		list-style-type: none;
		@include rem('margin-right', 12px);

		&:last-of-type {
			margin-right: 0;
		}
	}

	@include at-breakpoint($tablet) {
		text-align: center;
	}
}


.menu-link {
	&,
	&:link,
	&:visited,
	&:active {
		position: relative;
		z-index: 8;
		@include rem('padding', 69px 8px 6px);
		@extend %leagueGothic;
		@include rem('font-size', 24px);
		color: $navy;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		@include transition(all 300ms ease-out);
	}

}

.dir {
	&:hover,
	&:focus,
	&.active-nav {
		color: $lightBlue;
		background-color: #e5f6f1;
		border-bottom: 2px solid $darkTeal;
		@include transition(all 300ms ease-out);

		@include at-breakpoint($tablet) {
			border-bottom: 2px solid $xLightGreen;
		}
	}
}

.lang {
	padding-left: 0;
	padding-right: 0;
	@include rem('font-size', 22px);

	&:hover,
	&:focus {
		color: lighten($blue, 10);
	}
}

// COLLAPSED NAVIGATION STYLES

@include at-breakpoint($nav) {

	.mobile {
		display: auto;
		visibility: visible;
	}

	// Button to open collapsed navigation
	.mopen {
		display: inline-block;
		float: right;
		font-size: 0;
		line-height: 0;
		// @include rem('margin-top', 1px);
	}

	.mopen-img {
		@include rem('width', 48px);
	}

	.nav-top {
		position: absolute;
		float: none;
		// @include rem('top', 10px);
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		@include rem('padding', 53px 15px 0 0);
	}

	// Menu

	.menu-top {
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 0;
		width: 100%;
		z-index: 1000;

		> li {
			display: block;
			width: 100%;
			border-bottom: 1px solid $teal;
		}

		&:target {
			box-shadow: 0 5px 50px 20px rgba(50, 50, 50, 0.57);

			> li > a {
				border-bottom-width: 1px;
				@include rem('line-height', 52px);
				@include rem('height', 48px);
			}
		}
	}

	.menu-link {
		&,
		&:link,
		&:visited,
		&:active {
			display: block;
			border-bottom-width: 0;
			overflow: hidden;
			height: 0;
			line-height: 0;
			@include rem('padding', 0 0 0 16px);
			text-align: left;
			color: $navy;
			background-color: #e5f6f1;
			border: none;
		}

		&:focus,
		&:hover,
		&.active-nav {
			background-color: lighten($darkMint,8);
			color: lighten($blue,2);
			border: none;
		}

		// Button to close collapsed navigation

		&.mclose {
			background-color: $darkMint;
			color: $green;
		}

		&.mclose:focus,
		&.mclose:hover {
			background-color: darken($darkMint,5);
			color: $darkGreen;
		}
	}
}