//=============================================================================/
//                 THINKING ELEPHANTS, A DESIGN COOPERATIVE                    /
//=============================================================================/
//                                                                             /
//  PROJECT: 130202                                                            /
//   CLIENT: HOME Psychological Services                                       /
//    CLASS: Organism                                                          /
//    TITLE: I Can't Believe I'm Making A Homepage Slider                      /
//                                                                             /
//=============================================================================/

@import "utilities/slider-base";

// TYPOGRAPHY

%giga {
    @extend %gppSubhead;
    @include rem('font-size', 38px);
    line-height: 1.625;
    color: $xxDarkNavy;

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('font-size', 26px);
    }

    @include at-breakpoint($breakpoint-phone) {
        @include rem('font-size', 23px);
    }
}

%mega {
    @extend %gppItalic;
    @include rem('font-size', 26px);
    line-height: 1.25;
    color: $xDarkGreen;

    @include at-breakpoint($breakpoint-smScreen) {
        @include rem('font-size', 22px);
    }

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('font-size', 18px);
    }

    @include at-breakpoint($breakpoint-phone) {
        // @include rem('font-size', 16px);
        line-height: 1.375;
    }
}

.lede {
    // @include span-columns(11,12);
    // @include rem('margin', 118px auto 10px 30px);
    // width: columns(11,12);
    // @include rem('margin', 118px auto 10px);
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    @include rem('margin-bottom', 10px);
    @include rem('padding-left', 28px);
    // @include rem('padding-right', 16px);

    @extend %giga;

    @include at-breakpoint($breakpoint-tablet) {
        // margin-top: 7.5%;
        @include rem('padding-right', 16px);
    }

    @include at-breakpoint($breakpoint-phone) {
        // @include span-columns(12,12);
        // @include omega;
        // width: 100%;
        // margin-left: 0;
        // margin-top: 10%;
        @include rem('padding-left', 3px);
        @include rem('padding-right', 1px);
    }

}

.lede-quote {
    // @include span-columns(11,12);
    // width: columns(11,12);
    margin: 0 auto;
    // margin-top: 0;
    // @include rem('margin-left', 30px);
    @include rem('padding-top', 19px);
    @include rem('margin-left', 28px);
    @extend %mega;
    border-top: 2px solid $green;

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('padding-top', 8px);
    }

    @include at-breakpoint(0 530px) {
        display: none;
        visibility: hidden;
        @include span-columns(12,12);
        @include omega;
        margin-left: 0;
        @include rem('padding-top', 20px);
    }
}

.quote {
    width: columns(11,12);

    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    @include rem('margin-bottom', 10px);

    @extend %giga;

    @include at-breakpoint($breakpoint-tablet) {
        margin-top: 15%;
    }

    @include at-breakpoint($breakpoint-phone) {
        @include span-columns(12,12);
        @include omega;
        margin-top: 22%;
    }

}

.quote-credit {
    width: columns(11,12);
    margin: 0 auto;
    @include rem('padding-top', 12px);

    @extend %mega;
    text-align: right;
    border-top: 2px solid $green;

    @include at-breakpoint(0 530px) {
        display: none;
        visibility: hidden;
        @include span-columns(12,12);
        @include omega;
    }
}

// STRUCTURE

.hero {
    position: relative;
    z-index: 5;
    @include rem('margin-top', -32px);
    border-bottom: 1px solid $xDarkMint;
}

.flexslider {
    margin: 0;
    padding: 0;
    @include rem('height', 496px);
    position: relative;
    z-index: 5;

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('height', 320px);
    }

    @include at-breakpoint($breakpoint-phone) {
        // @include rem('height', 360px);
    }

    @include at-breakpoint($breakpoint-iphone) {
        // @include rem('height', 400px);
    }
}

.slide-panel {
    width: 100%;
    @include rem('height', 496px);

    @include at-breakpoint($breakpoint-tablet) {
        @include rem('height', 320px);
    }

    @include at-breakpoint($breakpoint-phone) {
        // @include rem('height', 360px);
    }

    @include at-breakpoint($breakpoint-iphone) {
        // @include rem('height', 400px);
    }
}

// SLIDER PHOTOS

#slide-1 {
    background: url(../assets/splash-1.jpg) no-repeat center 12%;
    background-size: cover;
}

#slide-2 {
    background: url(../assets/splash-2.jpg) no-repeat center bottom;
    background-size: cover;
}

#slide-3 {
    background: url(../assets/splash-3.jpg) no-repeat center top;
    background-size: cover;
}

#slide-4 {
    background: url(../assets/splash-4.jpg) no-repeat center center;
    background-size: cover;
}

#slide-5 {
    background: url(../assets/splash-5.jpg) no-repeat center top;
    background-size: cover;
}