//*------------------------------------------------------*/
//*                  Thinking Elephants                  */
//*------------------------------------------------------*/
//*  PROJECT: 130202                                     */
//*   CLIENT: HOME Psychological Services                */
//*    CLASS: Page                                       */
//*    TITLE: Writing Page                               */
//*------------------------------------------------------*/

.article-unit:nth-of-type(n+5) {
	display: none;
}

.advice {
	@include rem('margin-bottom', 56px);
}

.advice-unit:nth-of-type(n+6) {
	display: none;
}

.advice-unit > .sku-title {
	display: inline-block;
}