---
layout: default
lang: zh
title: 簡介 | 如家心理服務
---

{% include header.html %}

<!-- Eliza Profile v2-->
<section class="partner">
    <h1 class="bubble-heading">劉美婷小姐<div class="bubble-arrow"></div></h1>
    <div id="profile-eliza" class="profile-panel">
        <div class="cv-overlay">
            <h2 class="cv-title">臨床心理學家</h2>
            <ul class="cv-items">
                <li>香港中文大學臨床老人學碩士</li>
                <li>香港中文大學臨床心理學碩</li>
                <li>美國加洲大學心理學學士</li>
                <li>美國心理學會協理會員</li>
                <li>香港心理學會會員(臨床心理學組)</li>
                <li>香港心理學會註冊臨床心理學家</li>
            </ul>
        </div>
    </div>

    <p class="profile-lede">劉美婷先後在志願機構及衛生署兒童及體能智力測驗中心服務共九年，為專注力不足，活躍症，發展遲緩，特殊學習障礙，自閉症，癲癎症，腦創傷或各種有情緒或行為問題之兒童及青少年提供評估和治療服務。她曾任榮譽臨床導師五年。她在2004年9月曾在澳洲墨爾本 Royal Child Hospital 參與交流服務。在2008年起私人執業，並致力發展一套有關如何提升孩子潛能、自我認知及思考方法，從而加強自信、積極學習。</p>

</section>

<!-- Winnie Profile v2-->
<section class="partner">
    <h1 class="column bubble-heading">姜源妮博士<div class="bubble-arrow"></div></h1>
    <div id="profile-winnie" class="profile-panel">
        <div class="cv-overlay">
            <h2 class="cv-title">臨床心理學家</h2>
            <ul class="cv-items">
                <li>美國Widener University 臨床心理學碩士、博士</li>
                <li>香港中文大學社會科學學士</li>
                <li>美國心理學會會員</li>
                <li>香港心理學會會員(臨床心理學組)</li>
                <li>香港心理學會註冊臨床心理學家</li>
            </ul>
        </div>
    </div>

    <p class="profile-lede">姜源妮博士從1999年起先後在衞生署學生健康服務、兒童體能智力測驗服務、香港中文大學學生輔導及發展組工作，為發展遲緩、自閉症、特殊學習障礙、行為或情緒問題之兒童及青少年提供評估和治療服務。她在美國留學期間，亦曾在多間社區精神健康服務中心實習，為兒童、青少年及成人提供心理輔導及治療。在2009年與另一位資深臨床心理學家劉美婷小姐合辦「如家心理服務」，致力為兒童、成人，及家庭提供優質的心理諮詢服務。</p>

</section>

{% include footer.html %}