---
layout: default
lang: zh
title: 簡介 | 如家心理服務
---
{% assign bilingual = true %}
{% include header.html %}

<!-- Eliza Profile v2-->
<section class="partner">
    <div class="bubble-wrap"><h1 class="bubble-heading">劉美婷小姐<div class="bubble-arrow"></div></h1></div>
    <div id="profile-eliza" class="profile-panel">
        <div class="cv-overlay">
            <h2 class="cv-title">臨床心理學家</h2>
            <ul class="cv-items">
                <li>香港中文大學臨床心理學博士</li>
                <li>香港中文大學臨床心理學碩士 / 臨床老人學碩士</li>
                <li>美國加洲大學心理學學士</li>
                <li>美國心理學會協理會員</li>
                <li>香港心理學會會員(臨床心理學組) / 註冊臨床心理學家</li>
            </ul>
        </div>
    </div>

    <p class="profile-lede">劉美婷先後在志願機構及衛生署兒童及體能智力測驗中心服務共九年，為專注力不足，活躍症，發展遲緩，特殊學習障礙，自閉症，癲癎症，腦創傷或各種有情緒或行為問題之兒童及青少年提供評估和治療服務。她曾任榮譽臨床導師五年。她在2004年9月曾在澳洲墨爾本 Royal Child Hospital 參與交流服務。在2008年起私人執業，並致力發展一套有關如何提升孩子潛能、自我認知及思考方法，從而加強自信、積極學習。</p>

</section>


{% include footer.html %}
