---
layout: default
lang: en
title: Press | HOME Psychological Services
---

{% include header.html %}

<!-- BODY -->

<!-- PERIODICALS -->
<section class="periodicals">
    <h1 class="bubble-heading">Periodicals<div class="bubble-arrow"></div></h1>

    <div class="press-splash"></div>
    <p class="press-splash-caption">An interview with Winnie about parenting, following the launch of her book. Published in Pop Club magazine.</p>

    {% for post in site.posts limit: 24 %}
        {% if post.categories contains 'periodicals' %}

            <div class="archive-list-unit two-up periodicals-unit">
                <a class="sku-title" href="{{ post.external-url }}" target="_blank">{{ post.clipping-title }}</a>
                <p class="sku-publ-name">{{ post.publication-name }},&nbsp;{{ post.publication-date }}</p>
            </div>

        {% endif %}
    {% endfor %}

</section>


<!-- NEWS COLUMNS -->
<section class="newscolumns">
    <h1 class="bubble-heading">News Columns<div class="bubble-arrow"></div></h1>

    {% for post in site.posts limit: 30 %}
        {% if post.categories contains 'newscolumns' %}

            <div class="archive-list-unit three-up newscolumns-unit">
                <a class="sku-title" href="{{ post.external-url }}" target="_blank">{{ post.clipping-title }}</a>
                <p class="sku-publ-date">{{ post.publication-date }}</p>
            </div>

        {% endif %}
    {% endfor %}

</section>


{% include footer.html %}