---
layout: article
---

{% include header.html %}

<!-- BODY -->

<div class="article-wrapper">
    <article class="">

        <header class="article-header">
        	<h1 class="bubble-heading">{{ page.title }}<div class="bubble-arrow"></div></h1>

        	{% if page.author != null %}
        	<p class="byline">by&nbsp;</p><p class="author"><!-- AUTHOR -->{{ page.author }}</p>
        	{% endif %}
        </header>

        <div class="article-body">{{ content }}</div>

    </article>
</div>


{% include footer.html %}