---
layout: workshop
---

{% if page.lang == 'en' %}
  {% include header.en.html %}
{% elsif page.lang =='zh' %}
  {% include header.zh.html %}
{% endif %}

<!-- BODY -->

<div class="article-wrapper">
    <article class="">
    	<h1 class="bubble-heading">{{ page.workshop-name }}<div class="bubble-arrow"></div></h1>

        <div class="article-body">

        	<h2>Target Audience</h2>
        	<p><!-- TARGET AUDIENCE -->{{ page.target-audience }}</p>

        	<h2>Sessions</h2>
        	<p><!-- SESSION INFO -->{{ page.sessions }}</p>

        	{{ content }}

        </div>

    </article>
</div>


{% if page.lang == 'en' %}
  {% include footer.en.html %}
{% elsif page.lang =='zh' %}
  {% include footer.zh.html %}
{% endif %}