---
layout: default
lang: zh
title: 如家臨床心理服務
---
{% assign bilingual = true %}
{% include header.html %}

<!-- BODY -->
<section class="hero">
    <div class="flexslider">
        <ul class="slides">
            <li id="slide-1" class="slide-panel">
                <div class="wrapper slide-inner">
                    <h1 class="slide-top lede">Clinical psychology services for children, adolescents, and families. We help manage emotions, gain self-understanding, and find fulfillment in life through positive psychology.</h1>
                    <p class="slide-bottom suppl">一個積極的思想家是能看見到無形的，感覺到漂渺的，達到不可能的。</p>
                </div>
            </li>
            <li id="slide-2" class="slide-panel">
                <div class="wrapper slide-inner">
                    <p class="slide-top quote">當你腦中所想的，口中所說的，和手中所做的都能和諧一致地達到，你便是有福。</p>
                    <p class="slide-bottom credit">聖雄甘地&nbsp;</p>
                </div>
            </li>
            <li id="slide-3" class="slide-panel">
                <div class="wrapper slide-inner">
                    <p class="slide-top quote">成功背後的信念，便是時刻懷著樂觀的態度。沒有希望和信心，便什麼事也做不到。</p>
                    <p class="slide-bottom credit">海倫&#8901;凱勒&nbsp;</p>
                </div>
            </li>
            <li id="slide-4" class="slide-panel">
                <div class="wrapper slide-inner">
                    <p class="slide-top quote">其實，一個正在無牽無掛地玩樂的孩子，能理所當然地與他的玩伴打成一遍的那種幸福，正正就是成熟的特徵之一。</p>
                    <p class="slide-bottom credit">達格&#8901;哈馬舍爾德&nbsp;</p>
                </div>
            </li>
            <li id="slide-5" class="slide-panel">
                <div class="wrapper slide-inner">
                    <p class="slide-top quote">熱心乃努力之母，是偉大成就的基礎。</p>
                    <p class="slide-bottom credit">拉爾夫&#8901;沃爾多&#8901;愛默生&nbsp;</p>
                </div>
            </li>
          </ul>
    </div>
</section>

<section class="about-us" id="about-us">
    <div class="sidekick">
        <h1 class="sidekick-title">如家</h1>
        <p class="sidekick-descr">如家心理服務是由兩位擁有超過十年經驗的臨床心理學家所成立，她們曾於香港、美國實習及工作，提供廣東話、普通話、英語的個人及小組的心理服務。</p>
    </div>
    <div class="sidekick">
        <h1 class="sidekick-title">正向心理</h1>
        <p class="sidekick-descr">除了幫助前來尋求服務的人士學習怎樣處理負面情緒之外，我們亦非常重視提升他們的正向思維，讓他們懂得從較正面的角度看待生活的種種。</p>
    </div>
    <div class="sidekick">
        <h1 class="sidekick-title">為孩子提供更適切的照顧</h1>
        <p class="sidekick-descr">我們能為父母、老師、兒童工作或照顧者提供具科學驗證的管教技巧，此外，我們亦為成人及長者提供心理服務，尤以針對女性在日常生活上所需要面對的各種挑戰。</p>
    </div>
</section>

<section class="book-promo" id="new-book-published">
    <div class="bubble-wrap"><h1 class="bubble-heading promo-heading">新書出版!<div class="bubble-arrow"></div></h1></div>

    <div class="book-promo-panel">
        <!-- <p class="promo-descr">Dr. Winnie Keung published her first book earlier this year! Titled<span class="zh">&#12304;孩子扭計點算好&#12305;</span> – it’s a short read about common behavioural situations faced by parents and care-givers of children aged 4 to 13.</p> -->
        <p class="promo-descr">姜源妮博士在2013年初出版了她第一本的著作，名叫【孩子扭計點算好】– 內有三十篇短文，主要討論一些在很多幼兒及就讀小學兒童身上出現的情緒、行為等問題，透過情景闡述，藉此幫助父母對兒童發展有多一點的認知，並提供具體的處理方案讓父母參考。有興趣的話，可到<a href="http://www.cp1897.com.hk/storeBusiness.php?storeBusiness=storeInfo_main" target="_blank">書局</a>找來看看！</p>
    </div>

    <div class="book-cover">
        <img src="{{ site.baseurl }}/assets/book.jpg">
    </div>

</section>

<section class="cogmed-promo" id="new-service">
    <div class="bubble-wrap"><h1 class="bubble-heading promo-heading">全新 <span class="bubble-en">Cogmed</span> 服務!<div class="bubble-arrow"></div></h1></div>

    <div class="cogmed-promo-panel">
        <p class="promo-descr">現在我們是美國Pearson在香港認可提供<a href="http://www.cogmed.com/" target="_blank">Cogmed Working Memory Training</a>的機構，這個電腦訓練課程是由認知腦功能科學的學者，利用電腦遊戲練習來提升兒童、成年人、及長者在運作記憶上的表現。</p>
        <p class="promo-descr">研究發現完成訓練的參加者，不單在運作記憶方面有進步，他們在行為方面，例如專注能力，自我管制，學習方面亦較訓練前有所改善。</p>
    </div>

    <div class="cogmed-logo">
        <img src="{{ site.baseurl }}/assets/cogmed-logo.png">
    </div>

</section>

{% include footer.html %}