---
layout: default
title: Articles | HOME Psychological Services
---

{% include header.en.html %}

<!-- ARTICLES -->
<section class="archive-list archive-articles">
    <h1 class="column bubble-heading">Articles<div class="bubble-arrow"></div></h1>

    {% for post in site.posts %}
        {% if post.categories contains 'articles' %}

            <div class="archive-list-unit">
                <h2 class="sku-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="sku-descr">{{ post.excerpt }}</p>
                <a class="sku-follow" href="{{ site.baseurl }}{{ post.url }}">Read More&nbsp;&raquo;</a>
            </div>

        {% endif %}
    {% endfor %}

</section>

{% include footer.en.html %}